/* TODO: make the div look nice */
.root {
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: white;
  }
  .container{
    margin: auto;
    width: 60%;
    border: 3px solid var(--orange);
    padding: 10px;
  }