<div>
    <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
        <div>

            <!-- TODO: add 'name' to all input tags -->
            <!-- TODO: add an ngModel to all input tags -->
            <!-- make all the inputs required -->
            <input type="text" placeholder="Username" required name="username" [(ngModel)]="user.userName">
            <input type="text" placeholder="Screen Name" required name="screenNname" [(ngModel)]="user.screenName">
            <div>
                <input type="date" id="Birth Date" required name="birthDate" [(ngModel)]="user.birthDate">
            </div>
            <input type="text" placeholder="Password" required  name="password" [(ngModel)]="user.password">
            <input type="text" placeholder="Confirm Password" required name="confirmedPassword" [(ngModel)]="confirmedPassword">
        </div>

        <input type="submit" [disabled]="!itemForm.valid">

        <br>
        <button type="button" (click)="toggleForm()">Login</button>
    </form>
</div>