.column {
  float: left;
  height: 100vh;
}

.left {
  position: fixed;
}

.right {
  width: 50%;
  min-width: 400px;
  border: var(--border);
  border-top: none;
  overflow-y: scroll;
  margin-left: 7rem;
}
 