
  .column {
    float: left;
    height: 100vh;
  }
  
  .left {
    background-color: grey;
    width: 25%;
    }

  .right {
      width: 50%;
      background-color: lightcoral;
      overflow-y: scroll;
  }
  
  