.column {
  height: 100vh;
}

.left {
  z-index: 1;
  width: 6em;
  border-right:var(--border);
  position: fixed;
  top: 0;
  left: 0;
  
  transition: width .4s ease;
}

.right {
  padding-left: 6em;
  border: solid green 1px;
}

.left:hover {
  width: 16em; 
 }

.left:hover ~ .right {
  padding-left: 16em;
  
} 


@media screen and (max-width: 700px)  {
  .left {
    width: 100vw;
    height: 6em;
    top: unset;
    bottom: 0;
    transition: none;
  }

  .left:hover {
    width: 100vw;
  }

  .right {
    padding-left: 0;
  }

  .left:hover ~ .right {
    padding-left: 0;
  }
}