* {
  font-family: Helvetica;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  width: fit-content;
  border: var(--blue) solid 0.5em;
  border-radius: 2em;
  background-color: whitesmoke;
}

input {
  font-family: Helvetica;
  font-size: 18pt;
  resize: none;
  border: none;
  padding: 0.5em;
  cursor: initial;
  background-color: whitesmoke;
  border: var(--blue) solid 2px;
}

textarea {
  background-color: rgb(225, 215, 215);
}

.under-textarea {
  border-top: solid gray 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #cee2d4;
  border-radius: 0% 0% 1em 1em;
  color: #024089;
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: auto;
    padding: 1em;
    margin-right: 0.5em;
  }

  .under-textarea input {
    width: fit-content;
  }
}
