.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ltyellow);
}

.inputs {
  width: 100%;
  border-radius: 1em;
}

.submitButton {
  height: 2em;
}
