<div class="root" *ngIf="user">


    <div>
        <div *ngIf="delOption">
            <h1>Hello {{user.userName}}</h1>
        </div>
        <profile-pic [user]="user" class="profile" style="border: solid 1px black;"></profile-pic>
        <h3 *ngIf="delOption">Do you want to remove your account?</h3>
        <button *ngIf="delOption" (click)="cancel()" class="cancel">Cancel</button>
        <button *ngIf="delOption" (click)="deleteCheck()" class="deleteButton">Delete</button>
    </div>

    <div *ngIf="!delOption">
        <button type="button" (click)="togglePicSelect()">Profile Picture</button>
        <br>

        <label for="screenName">Screen Name:</label>
        <input type="text" class="form-control" name="screenName" [(ngModel)]="user.screenName" required>
        <br>

        <label for="bio" class="bio">Bio:</label>
        <textarea placeholder="Describe yourself here..." type="text" id="bio" class="form-control bio" name="bio" [(ngModel)]="user.bio" hint="Update Your bio" required></textarea>
        <br>

        <label for="website">Website:</label>
        <input type="text" class="form-control" id="website" name="website" [(ngModel)]="user.website" required>
        <br>

        <div id="buttonParent">
            <button (click)="deleteOption()" class="deleteCheck">Delete account</button>
            <button (click)="cancel()" class="cancel">Cancel</button>
            <button (click)="onSubmit()" class="submitButton">Save</button>
        </div>

        <button *ngIf="delOption" (click)="deleteCheck()" class="deleteButton">Delete</button>

        <div class="profile-select" *ngIf="showProfilePics">
            <profile-pic [ngClass]="{'profile-option': true, 'selected': selectedProfilePic == 'profile' + i + '.png'}" (click)="profilePicClicked('profile' + i + '.png')" *ngFor="let profilePic of profilePics; index as i" [user]="{profilePic: 'profile' + i + '.png'}">

            </profile-pic>
            <button type="button" (click)="profilePicCancel()" class="cancel">Cancel</button>
            <button type="button" (click)="profilePicConfirm()">Confirm</button>
        </div>
    </div>
</div>