.navbar {
  height: 100vh;
  position: fixed;
  width: 7rem;
  border-right: var(--border);
  font-family: "Concert One";
}

.logged-in {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.logo {
  text-transform: uppercase;
  margin-top: 3rem;
}

.logo .link-text {
  font-size: 2em;
}

.logo svg {
  fill: var(--blue);
}

.nav-item {
  width: 100%;
  margin-top: 3em;
}

.nav-item svg {
  fill: var(--blue);
  width: 3em;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.link-text {
  width: 0em;
  opacity: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: var(--orange);
  font-weight: bold;
  /* transition: width 2s ease; */
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1rem;
}

.nav-item:hover svg {
  fill: #9cc5e7;
  transition: 400ms ease;
}

.nav-item:last-child {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: lightgrey;
  margin-top: auto;
  margin-bottom: 2em;
}

.navbar:hover {
  width: 14rem;
  padding-left: 2em;
  background-color: #e1e3e7;
  transition: 400ms ease;
}

.navbar:hover .link-text {
  width: 4em;
  opacity: 1;
}

.navbar:hover .nav-link {
  justify-content: left;
}

.not-logged-in {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
