.body {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 1em;
  --top-height: 65px;
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  border: orange solid 3px;
  width: fit-content;
  border-radius: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  padding: 4em;
  background-image: url(../../../assets/images/404.png);
  background-repeat: no-repeat;
}

.err {
  color: var(--orange);
  font-style: var(--text);
  font-size: 100px;
}

.small {
  color: var(--grey-text);
  font-size: small;
  margin: 0;
  margin-top: 0.3em;
}

.pic {
  display: flex;
  width: 4em;
  height: 4em;
  border-radius: 3em;
  justify-content: center;
  background-color: var(--yellow);
  border: var(--orange) solid 3px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

img {
  width: 3em;
  height: 3em;
  align-self: center;
}



.message {
  color: var(--orange);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
  font-family: concert one;
}

.under {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1em;
  width: 500px;
}

.home-button {
  border: var(--blue) solid 3px;
  color: var(--blue);
  padding: 0.25em 1em;
  border-radius: 1.5em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
}

.home-button:hover {
  background-color: var(--yellow);
  color: orange;
  transition: 300ms ease-in;
}
