<div class="body">
    <div class="top-bar">
        <div class="pic">
            <img src="../../../assets/icons/duckie_logo.svg">
        </div>
        <div class="message">
            page not found
        </div>
    </div>
    <div class="err">404<p class="small">this is not the page you are looking for</p>
    </div>
    <div class="img">
    </div>
    <div class="icon"> .<div><a routerLink="/home"><button class="home-button">
                    GO HOME
                </button></a>
        </div>
    </div>
</div>
