<div>
    <!-- TODO add #form -> copy from budget calculator to make this an actual ng form -->
    <form>
        <input type="text" placeholder="username" [(ngModel)]="user.username" name="username">
        <input type="text" placeholder="password" [(ngModel)]="user.password" name="password">

        <!-- TODO make a submit button that will submit the form -->
        <button class="one" type="submit" (click)="createUser()">create user</button>

        <button class="one" type="button" (click)="myFunction()">sign in</button>

    </form>
</div>