<div class="container">
    <!-- TODO add #form -> copy from budget calculator to make this an actual ng form -->
    <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
        <input type="text" placeholder="username" [(ngModel)]="userName" name="username" required>
        <input type="password" placeholder="password" [(ngModel)]="password" name="password" id="login" required>
        <button (click)="showPass()">Show Password</button>

        <!-- TODO disable button unless all inputs are filled in -->
        <input type="submit" class="button" [disabled]="!itemForm.valid">

        <br>
        <p>Not Signed Up?</p>
        <button class="one" type="button" (click)="toggleForm()">Create Account</button>
    </form>
</div>