.container {
  --top-height: 65px;
  overflow-y: scroll;
  height: calc(100% - var(--top-height));
  border-right: var(--border)

}

.container > * {
    box-sizing: border-box;

}

.top-bar {
  display: flex;
  height: var(--top-height);
  position: sticky;
  background: white;
  border-bottom: var(--border);
  border-right: var(--border);
  padding-left: 1em;
  padding-bottom: 0.5em;
  top: 0;
  
}

.top-bar-contents {
  line-height: 5px;
}

h2 {
  font-family: var(--text);
}

#quack-count {
  font-family: var(--text);
  font-size: 1em;
  color: var(--grey-text);
}

.banner {
  background-color: lightgray;
  width: 100%;
  height: 200px;
  padding-top: var(--top-height);
}

.profile-box {
  padding: 1em;
  border-top: var(--border);
}

.profile-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -50px;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-pic {
  position: relative;
  top: calc(var(--top-height) * -1);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #fceb6b;
  border: white solid 3px; 
}

.profile-pic svg{
    width: 80%;
    height: 80%;
    fill:#fda300;
  }

  .pic{
      display: flex;
      justify-content: center;
  }

.screen-name {
  font-family: var(--text);
  font-size: 20px;
  line-height: 24px;
}

.edit-button button {
        border: var(--blue) solid 2px;;
        color: var(--blue) ;
        padding: .25em 1em;
        border-radius: 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        cursor: pointer;
      }

.user-name,
.bio,
.user-info {
  font-family: var(--text);
  font-size: 15px;
  line-height: 24px;
}

.user-name,
.user-info {
  color: var(--grey-text);
}

.user-info a{
    text-decoration: none;
}

.bio {
  flex-wrap: wrap;
  padding: 0.5em;
}

.link-bar {
  position: sticky;
  top: 0;
  font-family: var(--text);
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: medium;
  border-bottom: var(--border);
  border-top: var(--border);
  background-color: white;

}

.link-bar a {

    text-align: center;
    padding: .75em;
    flex-grow: 1;
    color: var(--grey-text);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    
  }

  .link-bar a:hover{
      background-color: var(--yellow);
      border-bottom: var(--orange) solid 4px;
      color:var(--blue)
  }
    


