/* You can add global styles to this file, and also import other style files */

:root {
    --grey-text: rgb(110, 118, 125);
    --text: helvetica;
    --border:rgb(230, 230, 230) solid 1px;
}

body{
    margin: 0;
}